@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

:root{
    --stbcks-black: #27251F;
    --light-grey: #939393;
    --green: #00704A;
    --dark-green:#1e3932;
    --white: #fff;
}

.menu-link-text{
    font-family: 'Rubik', sans-serif;
    color: var(--stbcks-black);
    letter-spacing: 4px;
    margin: 0 20px;
    text-transform: uppercase;
}

.menu-link-text-size{
    font-size: small;
}

.menu-link{
    list-style-type: none;
}

.menu-link a{
    text-decoration: none;
    color: var(--grey);
}

.menu-link a:hover{
    color: var(--green);
}

.input-search-text::placeholder{
    font-family: 'Rubik', sans-serif;
    color: var(--light-grey);
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 10px;
}

.green-block-title{
    font-family: 'SoDoSans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--white);
    letter-spacing: .15em;
    margin-bottom: 20px;
}

.green-block-subtitle{
    font-family: 'SoDoSans','Helvetica Neue',Helvetica,Arial,sans-serif;
    /* font-weight: 700; */
    font-size: 18px;
    color: var(--white);
    /* letter-spacing: .15em; */
    padding: 0px 10em;
    text-align: center;
    line-height: 45px;
}

.subtitle{
    font-family: 'Unica One', cursive;
    font-size: 15px;
    color: var(--green);
    letter-spacing: .15em;
    font-weight: 700;
    /* padding: 0 20px; */
    text-transform: uppercase;
}

.title{
    font-family: 'LanderGrande';
    color: var(--dark-green);
    font-size: 50px;
    font-weight: 540;
}

.upper-font{
    text-transform: uppercase;
}

.btn{
    font-family: 'SoDoSans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.reviews{
    font-family: 'Rubik', sans-serif;
    color: var(--stbcks-black);
    /* font-weight: bold; */
    text-decoration: none;
    font-size: 15px;
}

.reviews:hover{
    color: var(--dark-green);
}

.article-subtitle{
    color: var(--white);
}

.article-title{
    color: var(--white);
    font-size: 60px;
    font-weight: bold;
    letter-spacing: normal;
}

.text-article{
    color: var(--white);
    width: 28em;
}

.white-text{
    color: var(--white);
}

.title-rec{
    font-size: 55px;
}

.letter-link{
    font-size: medium;
    font-weight: bold;
    text-transform: none;
    color: var(--dark-green);
    text-decoration: none;
}

.text-size{
    font-size: 70px;
    line-height: 80px;
}

.text-color{
    color: var(--dark-green);
}

.bold{
    font-weight: 500;
}

.green-letter{
    color: var(--green);
}

.text-history{
    font-family: 'SoDoSans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 18px;
    width: 25em;
}

.ml-5{
    margin-left: 5em;
}

.first-text{
    font-family: 'SoDoSans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: var(--white);
    /* font-weight: bold; */
    font-size: 15px;
    text-decoration: none;
}

.first-text:hover{
    text-decoration: underline;
    cursor: pointer;
}

.second-text{
    padding: 20px;
    color: var(--light-grey);
    font-family: 'SoDoSans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.second-text:hover{
    text-decoration: underline;
}

.span-details{
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}

.span-details:hover{
    text-decoration: none;
}
